.transaction {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .transaction h3 {
    margin: 0 0 1rem 0;
    font-size: xx-large;

  }
  
  .description {
    font-style: italic;
    font-size: x-large;
  }

  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: x-large;
  }

