.logOutButton {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #ca2800;
    color: white;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 10px;
    font-size: x-large;
    width: 150px;
    height: 75px;
  }
  
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    background-color: #4e06a1;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }


button {
    font: inherit;
    background-color: #240370;
    color: white;
    border:1px solid #240370;
    padding: 1.5rem 2rem;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 50px;
    font-size: x-large;
    
  }
  
  button:hover,
  button:active {
    background-color: #9e3605;
    border-color: #33059e;
  }

  .addDebtlabel {
    font-size: xxx-large;
    color: white;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
   
  }

  .avatarsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }


