.form {
    margin: 1rem 0;
    height: 25rem;
    box-sizing: border-box;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 2px solid #33059e;
    border-radius: 10px;
    width: 25rem;
    max-width: 200%;
  }
  
  .actions {
    margin-bottom: 0.5rem;
  }
  
  .actions button {
    font: inherit;
    color: #fdfdfd;
    cursor: pointer;
    background-color: #ca2800;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
    margin-right: auto;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #9e3605;
    border-color: #33059e;
  }
  
  .actions .submit {
    border-color: #33059e;
    background-color: #240370;
    color: white;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: #7a2706;
  }
  
  .invalid label {
    color: #ca3e51;
  }
  
  .invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }

  .formContainer {
    display: flex;
    justify-content: center;
  }

  .currencySelector {
    font: inherit;
    border: 2px solid #33059e;
    border-radius: 10px;
    width: 25rem;
    max-width: 200%;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .circle {
    height: 100px;
    width: 100px;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 60px;
    margin-bottom: 20px;
    border-style: dashed;
    background-size: cover;
    margin: 0px auto 20px auto;
  }
  .reset {
    margin-left: 60%;
    margin-top: 10%;
    font-weight: bold;
  }
  .reset:hover {
    cursor: pointer;
  }
